<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="static/about.css">
</head>
<body>
	<div class="row">
  <div class="column">
    <div class="card">
      <img src="img1.jpg" alt="Noa" style="width:100%">
      <div class="container">
        <h2>Noa Kila</h2>
        <p class="title">CEO &amp; Founder</p>
        <p>Have the best pouch in israel</p>
        <p>dam_b***h@pouch.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img2.jpg" alt="Bob" style="width:100%">
      <div class="container">
        <h2>Spongebob</h2>
        <p class="title">Art Director</p>
        <p>Can contian 5 liter of water</p>
        <p>krabby_patty@krusty_krab.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img3.jpg" alt="Squidward" style="width:100%">
      <div class="container">
        <h2>Squidward Tentacles</h2>
        <p class="title">Designer</p>
        <p>I just wanna go home</p>
        <p> die@kill_me.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>


</body>
</html>